@import "tailwindcss";

@layer base {
    html {
        font-family: "inter", sans-serif;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #1e1a24;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #332f3a;
    border-radius: 24px;
}

::-webkit-scrollbar-thumb {
    max-height: 200px;
}

html,
body {
    overflow-x: hidden;
}